---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<br />
<strong>1st Year Introductory Mathematics</strong> (2018/19)<br />
Undergraduate tutorial (1 groups)<br />
<i> University of St Andrews </i><br />
<br />

<strong>Data Wrangling and Visualisation in R: An Introduction to the Tidyverse</strong> (2019)<br />
Workshop, <a href="https://github.com/ASeatonSpatial/data_wrangling_intro">materials available here</a> <br />
<i> University of St Andrews </i><br />
<br />

<strong> Basic Statistics with R</strong> (2018)<br />
Workshop <br />
<i> University of St Andrews </i><br />
<br />

<strong> inlabru 5-day workshop </strong> (March 2018) <br />
Workshop, <a href="https://sites.google.com/inlabru.org/inlabru">materials available here</a><br />
<i> University of St Andrews </i><br />
<br />

<strong> 1-1 Mathematics and Statistics Support</strong> (2018/19)<br />
Drop-in clinic and by appointments <br />
<i> University of St Andrews </i><br />
<br />

<strong>Probability and Combinatorics</strong> (2017/18)<br />
Undergraduate tutorial (2 groups)<br />
<i> University of St Andrews </i><br />
<br />


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
